@media (max-width: 1008px) {
  /****************************************
  * Typography
  ****************************************/

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    color: #ffffff;
    font: normal normal 24px/1em 'Lato', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 5px black;
  }

  /****************************************
  * About
  ****************************************/

  section.about > .container {
    box-sizing: border-box;
    display: block;
    padding: 0 1.5rem;
  }

  section.about .container > img,
  section.about .container > div {
    width: 100%;
  }

  section.about .container > img {
    align-self: flex-start;
    bottom: 3rem;
    margin: auto;
    width: 100%;
    max-width: 325px;
  }

  @media (max-width: 535px) {
    section.about .container > div .skills {
      display: block;
    }

    section.about .container > div .skills > div {
      width: 100%;
    }
  }

  /****************************************
  * Buttons
  ****************************************/

  .button,
  button {
    padding: 0.6em;
  }

  /****************************************
  * Media Queries
  ****************************************/

  @media only screen and (max-width: 500px) {
    .wrapper {
      width: 100vw;
    }

    img {
      width: 100%;
    }
  }
}
