@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:normal,bold,italic|Permanent+Marker');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

/****************************************
* Global
****************************************/

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(black, #0b5fc3, #2970c6, #4e88cd);
}

/****************************************
* Typography
****************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  line-height: 1em;
}

h1 {
  font: normal bold 42px/1em 'Lato', sans-serif;
}

h2 {
  font: normal normal 32px/1em 'Lato', sans-serif;
}

h3 {
  color: #ffffff;
  font: normal normal 24px/1em 'Lato', sans-serif;
  text-align: center;
  text-shadow: 0px 0px 5px black;
}

p {
  margin-bottom: 1rem;
  color: #111111;
  font: normal normal 16px/1.7em 'Open Sans';
}

strong {
  font-weight: bold;
}

/* List Styles */

ul.bulleted {
  margin-bottom: 1rem;
  padding-left: 20px;
  list-style: disc;
}

ul.bulleted > li {
  margin-bottom: 0.5em;
}

/****************************************
* Header
****************************************/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

header > a.logo-text {
  margin: 0 1rem;
  font: normal normal 42px/1.6em 'Permanent Marker', cursive;
  text-align: center;
  text-decoration: none;
  animation: neon 7s ease-in-out infinite alternate;
}

header > a.logo-text + nav {
  margin-left: auto;
  margin-right: 0;
}

/****************************************
* About
****************************************/

section.about {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

section.about.home {
  margin-top: 0;
}

section.about img {
  align-self: center;
  position: relative;
  max-width: 350px;
  border: 15px solid #ffffff;
  box-shadow: 0px 20px 30px grey;
  bottom: 3rem;
  margin: 0;
  width: 33.333%;
  margin-right: 3rem;
}

section.about.home img {
  align-self: flex-start;
  margin-right: 3rem;
}

section.about > .container {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: #ffffff;
}

section.about .container:after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -3rem;
  height: 3rem;
  width: 100%;
  background-color: lightslategray;
}

section.about .container > div {
  width: 66.666%;
}

section.about .container > div .skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.about .container > div .skills > div {
  width: calc(50% - 1rem);
}

/****************************************
* Layout
****************************************/

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1008px;
}

.padded {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.padded-top {
  padding-top: 1.5rem;
}

.padded-bottom {
  padding-bottom: 1.5rem;
}

/****************************************
* Misc.
****************************************/

img {
  max-width: 100%;
  width: auto;
  height: auto;
}
